.header {
	height: 600px;
	background: url('img/header_bg.jpg') no-repeat;
	background-size: cover;
}
.header a {
	font-size: 24pt;
	color: #fff;
	margin-top: 50px;
	margin-left: 50px;
	display: block;
	text-transform: uppercase;
}
.header p {
	font-size: 42pt;
	text-align: center;
	color: #fff;
	margin-top: 150px;
	text-transform: lowercase;
}
.mySlides {display:none;}

.background-image {
	background-image: url('img/ep_naturalblack.png');
	background-size: cover;
}
@media screen and (max-width: 760px) {
	.header {
		height: 300px;
	}
	.header p {
		display: none;
}
	.header a {		
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 18pt;
		margin: 0;
}
}		

.main-menu {
	width: 100%;
	background-color: #237b82;
	display:none;
}
.main-menu li {
	display: inline-block;
	height: 100px;
	transition: 3s;
}
.main-menu li a {
	color: #000;
	font-size: 18pt;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 100px;
	display: block;
}
.main-menu li:hover {
	background-color: #EB5757;
}
.main-menu li:hover a {
	text-decoration: none;
	color: #fff;
}

.hamburger {
	display: none;
	height:100px;
	background-color: #237b82;
	text-align:right;
	padding-right: 30px;
}
.hamburger .glyphicon {
	font-size:24pt;
	margin-top:30px;
	cursor:pointer;
}

@media screen and (max-width: 760px) {
	
	.main-menu li{
		display: block;
	}		
		.main-menu {
			padding: 0;
			text-align: center;
			width:100%;
			}
		.main menu {
			display: block;
			text-align: center;
			width: 100%;
		}
		.hamburger {
			display:block;
		}
}
			
@media screen and (min-width:761px) {
	.main-menu {
		display:block!important;
	}
}	
.gallery img {
	width: 100%;	
}
.gallery div {
	padding: 0;
}

.overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 1s ease;
}

.image-container:hover .overlay {
	opacity: 0.7;
}

.image-container:hover img {
	filter: blur(3px);
}
.overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18pt;
}
.overlay p a {
	color: #fff;
	text-decoration: none;
}


.contact-form {	
	background-color: #237b82;
	padding: 100px;
}
.contact-form h1 {
	font-size: 24pt;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.form-control {
	height: 45px;
	border-radius: 0;
	border: 1px solid #000;
}
.form-control::placeholder {
	color: #000;
}
.btn, .btn:hover {
	padding: 15px 25px;
	background-color: #000;
	color: #fff;
	border-radius: 0;
}
.btn-default {
	border: 0;
}

.footer {
	height: 150px;
	background: url('img/black-background-footer-menu-9.png') no-repeat;
	background-size: cover;
}
.footer img {
	margin: 100px 0 0 100px;
}	
.footer ul {
	margin-top: 50px;
	float: center;
	margin-bottom: 50px;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	color: #fff;
	font-size: 18pt;
	padding-left: 30px;
	padding-right: 30px;
	display: block;
}

.section {
	margin: 50px 0;
}
.square-blocks div {
	height: 250px;
}
.square-blocks .light-gray-bg {
	font-size: 50pt;
	background-color: #F0F0F0;
}
.square-blocks .dark-gray-bg {
	background-color: #E0E0E0;
}
.section h1 {
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
}
.about-me img,
.article img {
	width: 100%;
}
.about-me div,
.article div {
	padding: 0;
}
.about-me-text,
.article-text {
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.section-title {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.sqare-blocks span {
	font-size: 15;
}	
.square-blocks a {
	color: #000;
}
	.square-blocks a:hover {
		clor: #F1C40F;
		text-decoration: none;
}	